[{:id "reboot"
  :name "Reboot"
  :sets ["core-set"
         "creation-and-control"]
  :cycles ["genesis"
           "spin"]
  :mwl nil}
 {:id "everything"
  :name "Everything"
  :sets ["core-set"
         "creation-and-control"
         "honor-and-profit"
         "order-and-chaos"
         "data-and-destiny"
         "terminal-directive"
         "revised-core-set"
         "reign-and-reverie"
         "magnum-opus"
         "system-core-2019"
         "magnum-opus-reprint"]
  :cycles ["genesis"
           "spin"
           "lunar"
           "sansan"
           "mumbad"
           "flashpoint"
           "red-sand"
           "kitara"
           "ashes"]
  :mwl nil}]
