[{:card-id "christmas-sales"
  :code "99001"
  :flavor ""
  :illustrator ""
  :image-url "https://nrdb.reteki.fun/card_image/99001.png"
  :position 1
  :quantity 1
  :set-id "holiday"}
 {:card-id "santa-claus"
  :code "99002"
  :flavor ""
  :illustrator ""
  :image-url "https://nrdb.reteki.fun/card_image/99002.png"
  :position 2
  :quantity 1
  :set-id "holiday"}
 {:card-id "naughty-or-nice"
  :code "99003"
  :flavor ""
  :illustrator ""
  :image-url "https://nrdb.reteki.fun/card_image/99003.png"
  :position 1
  :quantity 1
  :set-id "holiday"}
 {:card-id "christmas-tree"
  :code "99004"
  :flavor ""
  :illustrator ""
  :image-url "https://nrdb.reteki.fun/card_image/99004.png"
  :position 1
  :quantity 1
  :set-id "holiday"}
 {:card-id "cookies"
  :code "99005"
  :flavor ""
  :illustrator ""
  :image-url "https://nrdb.reteki.fun/card_image/99005.png"
  :position 1
  :quantity 1
  :set-id "holiday"}
 {:card-id "jingle-bells"
  :code "99006"
  :flavor ""
  :illustrator ""
  :image-url "https://nrdb.reteki.fun/card_image/99006.png"
  :position 1
  :quantity 1
  :set-id "holiday"}]
