{:cost 1
 :deck-limit 3
 :faction :neutral-runner
 :id "christmas-tree"
 :influence-cost 0
 :memory-cost 1
 :side :runner
 :text "One program from each faction can be hosted on Christmas Tree. The memory costs of hosted programs do not count towards your memory limit.\n
When you install Christmas Tree, add a random program from your stack to your grip. Shuffle your stack."
 :title "Christmas Tree"
 :type :program
 :uniqueness true}
