{:cost 2
 :deck-limit 3
 :faction :neutral-corp
 :id "christmas-sales"
 :influence-cost 0
 :side :corp
 :subtype [:advertisement]
 :text "Name a card type, and reveal either the first, second or third card from the top of the Runner’s stack. Gain 2[credit] if the revealed card has the type you named."
 :title "Christmas Sales"
 :trash-cost 4
 :type :asset
 :uniqueness false}
