{:cost 3
 :deck-limit 3
 :faction :anarch
 :id "faust"
 :influence-cost 2
 :memory-cost 1
 :side :runner
 :strength 0
 :subtype [:icebreaker :ai]
 :text "<strong>Trash a card from your grip:</strong> Break ice subroutine."
 :title "Faust"
 :type :program
 :uniqueness false}
