{:cost 1
 :deck-limit 3
 :faction :neutral-runner
 :id "jingle-bells"
 :influence-cost 0
 :side :runner
 :subtype [:run]
 :text "Make a run on R&D or HQ. If successful, the Corp draws 3 cards, then access 2 additional cards."
 :title "Jingle Bells"
 :type :event
 :uniqueness false}
