{:cost 1
 :deck-limit 3
 :faction :neutral-corp
 :id "naughty-or-nice"
 :influence-cost 0
 :side :corp
 :subtype [:gray-ops]
 :text "Reveal and trash the top card of R&D. If it is <strong>illicit</strong>, <strong>grey ops</strong>, <strong>black ops</strong>, <strong>AP</strong> or an agenda, trash 1 program and take 1 bad publicity. Otherwise, search R&D for a card and add it to HQ."
 :title "Naughty or Nice"
 :type :operation
 :uniqueness false}
