{:cost 2
 :deck-limit 3
 :faction :neutral-corp
 :id "santa-claus"
 :influence-cost 0
 :side :corp
 :subtype [:executive]
 :text "When your turn begins, reveal the Runner’s grip. For each card type (out of Program, Resource, Hardware and Event) the Runner does not have in their grip, gain 1[credit] and each player draws a card."
 :title "Santa Claus"
 :trash-cost 3
 :type :asset
 :uniqueness false}
